html,
body {
  color: #333;
  font-family: Helvetica Neue, Helvetica, Arial, FreeSans, sans-serif;
  padding: 0;
}

pre,
code {
  background-color: #222;
  color: #fff;
  padding: 5px;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  line-height: 2;
  margin: 0 0 15px 0;
  font-size: 12px;
}

h1 {
  margin: 0;
}

h2 {
  margin: 5px 0;
  font-size: 22px;
}

h3 {
  color: #222;
  font-weight: normal;
  font-size: 14px;
  margin: 0 0 10px 0;
}

table {
  border-collapse: collapse;
  margin: 20px 0;
}

th,
td {
  text-align: left;
  border: 1px solid silver;
  padding: 5px;
  font-size: 12px;
}

section {
  float: left;
  height: 800px;
  width: 24%;
  padding: 0 0.5%;
}

div {
  margin-bottom: 25px;
}

ul {
  padding-left: 20px;
  margin: 0 0 5px 0;
}

li {
  font-size: 14px;
  line-height: 1.6;
}

a {
  color: steelblue;
}

.meta h2,
li {
  font-size: 12px;
}

.node h2 {
  color: #cc3d33;
}
.node code,
.node pre {
  background-color: #cc3d33;
}

.angular h2 {
  color: rgb(25,118,210);
}
.angular code,
.angular pre {
  background-color: rgb(25,118,210);
}

.jasmine h2 {
  color: #8a4182;
}
.jasmine code,
.jasmine pre {
  background-color: #8a4182;
}

.jasmine code strong {
  color: yellow;
}

.bower h2 {
  color: #543729;
}
.bower code,
.bower pre {
  background-color: #543729;
}
